.checkout{
    justify-content: space-between;
    display: flex;
}
.checkout_title{
    border-bottom: 1px solid rgb(188, 185, 185);
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px;
  /* width: 80vw; */
}
.checkout_left{
    background-color: #FFFFFF;
    width: 80vw;
}
.checkout_right{
  font-size: x-large;
    /* align-items: center;
    justify-content: center; */
    /* width: 20vw; */
}
